.home {
  &__jumbotron {
    background-image: url('../../assets/images/jumbotron-image.jpg'), linear-gradient(rgba(34,34,23,.2), yellow); //temporary
    position: relative;
    padding: 10px 20vw;

  }

  &__service-providers{
      overflow-x: scroll;
      &::-webkit-scrollbar{
          background-color: lightgrey;
          width: 2px;
          border-radius: 10px;
      }
  }

}
