@media(max-width: 1050px) {
    .login-container{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.header {
    padding: 5px, 0;
    background-color: rgb(256, 256, 256);
    color: rgb(216, 123, 16);

    h3 {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
}

.button-link {
    .btn {
        background-color: #d9bc94;
    }
}

.separator {
    display: inline-block;
    margin-left: 10px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border: none !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }